<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>My Portfolio</title>
    <style>
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #5755d9;
        }

        body {
            background-color: #EEE;
        }
    </style>
</head>

<body>

    <div class="container grid-md" id=app>
        <div v-if="isLoading">
            <progress class="progress" max="1000" style="width: 100%;"></progress>
        </div>
        <div v-if="!isLoading">
            <!-- <div>{{id}}</div> -->
            <div class="columns">
                <div class="card column col-6">
                    <div class="card-header">
                        <h5>{{name}} <small class="text-muted"> {{title}}</small></h5>
                    </div>
                    <div class="card-body">
                        <figure class="figure">
                            <img class="img-responsive" :src="imageUrl" alt=" Profile Picture">
                            <figcaption class="figure-caption text-center">{{email}}</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="card column col-6">
                    <div class=" card-body">
                        <h5>Description</h5>
                        <div>{{description}}</div>

                    </div>

                </div>

                <div class="card column col-6">
                    <div class="card-body">
                        <h5>Twitter Feed</h5>
                        <ul>
                            <div class="" v-for="post in twitterFeed"><i class="icon icon-mail"></i> {{post}}
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="card column col-6">
                    <div class="card-body">
                        <h5>Good ol' Lorem</h5>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus iure quasi error odio
                        voluptas in, quia tempora, eius iste veritatis ab non, totam sit mollitia consequuntur
                        temporibus! Adipisci, ipsa.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus iure quasi error odio
                        voluptas in, quia tempora, eius iste veritatis ab non, totam sit mollitia consequuntur
                        temporibus! Adipisci, ipsa.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
        integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
        crossorigin="anonymous"></script>
    <script type="module" src="script.js"></script>

</body>

</html>